<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"
/>

<div id="autocomplete"></div>

<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
<script type="module">
  import algoliasearch from 'https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.esm.browser.js';

  const { autocomplete, getAlgoliaResults } = window['@algolia/autocomplete-js'];

  const searchClient = algoliasearch(
          'N15M8DWZID', // Application ID
          '1fef5e20747e117945db156d00df3b9a' // Search-Only API Key
  );

//nouvelle version avec la nouvelle version. N'affiche pas encore les réponses. A gérer dans le tableau.
  autocomplete({
    container: '#autocomplete',
    placeholder: 'Search for products',
    getSources({ query }) {
      return [
        {
          sourceId: 'documentation',
          getItems() {
            return getAlgoliaResults({
              searchClient,
              queries: [
                {
                  indexName: 'documentation',
                  query, //saisie de l'utilisateur
                  params: {
                    hitsPerPage: 5,
                  },
                },
              ],
            });
          },
          getItemUrl({ item }) {
            return item.href;
          },
          templates: {
            item({ item, components, html }) {
              return html`
                <div class="aa-ItemWrapper">
                  <div class="aa-ItemContent">
                    <div class="aa-ItemIcon aa-ItemIcon--alignTop">
                      <img
                              src="${item.image}"
                              alt="${item.name}"
                              width="40"
                              height="40"
                      />
                    </div>
                    <div class="aa-ItemContentBody">
                      <div class="aa-ItemContentTitle">
                        ${components.Highlight({
                          hit: item,
                          attribute: 'title',
                        })}
                      </div>
                      <div class="aa-ItemContentDescription">
                        ${components.Snippet({
                          hit: item,
                          attribute: 'page',
                        })}
                      </div>
                    </div>
                    <div class="aa-ItemActions">
                        <button
                                class="aa-ItemActionButton aa-DesktopOnly aa-ActiveOnly"
                                type="button"
                                title="Select"
                        >
                          <svg
                                  viewBox="0 0 24 24"
                                  width="20"
                                  height="20"
                                  fill="currentColor"
                          >
                            <path
                                    d="M18.984 6.984h2.016v6h-15.188l3.609 3.609-1.406 1.406-6-6 6-6 1.406 1.406-3.609 3.609h13.172v-4.031z"
                            />
                          </svg>
                        </button>
                    </div>
                  </div>
                </div>`;
            },
          },
        },
      ];
    },
  });
</script>



{#
Version originale qui fonctionne, mais avec ancien version de autocomplete.

<script>{% apply minify_js %}#}
{#  var client = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_api_key }}')#}
{#  var index = client.initIndex('{{ site.algolia.index }}')#}

{#  function newHitsSource(index, params) {#}
{#    return function doSearch(query, cb) {#}
{#      index#}
{#        .search(query, params)#}
{#        .then(function (res) {#}
{#          cb(res.hits, res)#}
{#        })#}
{#        .catch(function (err) {#}
{#          console.error(err)#}
{#          cb([])#}
{#        })#}
{#    }#}
{#  }#}

{#  autocomplete('#search-input', { hint: false }, [#}
{#    {#}
{#      source: newHitsSource(index, {#}
{#        hitsPerPage: 4,#}
{#        attributesToHighlight: ['page', 'title'],#}
{#        highlightPreTag: '<strong>',#}
{#        highlightPostTag: '</strong>',#}
{#        attributesToSnippet: ['description:25'],#}
{#        snippetEllipsisText: '…',#}
{#      }),#}
{#      displayKey: 'title',#}
{#      templates: {#}
{#        suggestion: function (suggestion) {#}
{#          return '<div class="aa-tpl-suggestion">'#}
{#            + '  <div class="aa-tpl-title">' + suggestion._highlightResult.title.value + '</div>'#}
{#            + '  <div class="aa-tpl-page">' + suggestion._highlightResult.page.value + '</div>'#}
{#           // + '  <div class="aa-tpl-snippet">' + suggestion._snippetResult.description.value + '</div>';#}
{#          +'</div>'#}
{#        },#}
{#        footer: '<span class="aa-tpl-footer"><a href="https://algolia.com" target="_blank" title="Algolia - Hosted cloud search as a service"><img src="" width="120" height="16" alt="Algolia logo"></a></span>',#}
{#      },#}
{#    },#}
{#  ]).on('autocomplete:selected', function (event, suggestion, dataset, context) {#}
{#    window.location.href = '{{ url() }}' + suggestion.href#}
{#  })#}
{#    {% endapply %}</script>#}
